services:
  frontend:
    depends_on:
      - backend
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        VITE_API_URL: ${VITE_API_URL}
  backend:
    depends_on:
      - mysql
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod
    expose:
      - "3000"
  mysql:
    image: mysql:8.0
    env_file:
      - .env.prod
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_NAME}"
    expose:
      - "3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
